* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 3rem;
  padding-left: 5rem;
}
.logoImage {
  width: 200px;
  height: 100px;
}
.english {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  padding-right: 10rem;
}
.landing {
  background: url("./assets/homePageBackgroundImage.avif") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position-y: -100px;
}
.homeTextContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 30px;
  flex-wrap: wrap;
}
.bigHeading {
  font-size: 100px;
}
.goFurther {
  font-size: 30px;
  font-weight: bold;
}
.getButton {
  width: 15rem;
  padding: 1rem;
  border-radius: 50px;
  background-color: rgb(15, 134, 108);
  margin: auto;
  border: 0;
  color: white;
  font-weight: bold;
}
.smallText {
  font-size: 13px;
  font-weight: bold;
}
.flexDivider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  column-gap: 8rem;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  row-gap: 3rem;
}
/* .flexDivider .flexElements{
  width: 40%;
} */
.flexDivider img {
  width: 20rem;
  float: right;
}
.TextElements {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.TextElements p {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
}
.TextElements button {
  float: left;
  margin-top: 0;
  margin-left: 0;
}
.secondDivider img {
  float: left;
}
.secondDivider .TextElements {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}
.flexCircles {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 3rem;
  row-gap: 4rem;
}
.flexCircles .roundedBox {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}
.flexCircles .roundedBox img {
  width: 17rem;
}
.flexCircles .roundedBox p {
  width: 50%;
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 0rem 0rem;
    padding-left: 0rem;
  }
  .english {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    padding-right: 0rem;
  }
  .bigHeading {
    font-size: 60px;
  }
  .flexDivider {
    grid-template-columns: 1fr;
  }
  .flexCircles {
    flex-wrap: wrap;
  }
}
